.resultListItem.active {
  background-color: var(--blueBackground);
}

// This fixes a bug where clicking on the container in the notification list, rather than the image, will not take you to the notification

.resultListItem.notification * {
  pointer-events: none;
}

#notificationsBadge,
#messagesBadge {
  background-color: var(--red);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#notificationsBadge.active,
#messagesBadge.active {
visibility: visible;
}

#notificationList {
position: fixed;
top: 5px;
right: 5px;
width: 350px;
background-color: white;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

.active {
  background-color: white;
}
}