/* Posts */
.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
  overflow-y: hidden;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.displayName {
  font-weight: bold;
}

.username, .date {
  color: var(--greyText);
}

.postFooter{
  display: flex;
  align-items: center;

  .postButtonContainer {
    flex: 1;
    display: flex;

    button { padding: 2px 5px }
  }
}

.header a:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;;
}

.postButtonContainer button:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
}

.postButtonContainer.red button.active {
  color: var(--red);
}

.postButtonContainer.red button:hover {
  color: var(--red);
  background-color: var(--redBackground);
}

.postButtonContainer.green button.active {
  color: var(--green);
}

.postButtonContainer.green button:hover {
  color: var(--green);
  background-color: var(--greenBackground);
}

.postActionContainer {
  padding-left: 35px;
  font-size: 13px;
  color: var(--greyText);
  margin-bottom: var(--spacing);
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .post {
  padding-top: 0 0 var(--spacing) 0;
}

.replyFlag {
  margin-bottom: 5px;
}

.replyFlag a {
  color: var(--blue);
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
  font-size: 23px;
}

.postContentContainer .header {
  display: flex;
}

.postContentContainer .header .date {
  flex: 1;
}